*{
    margin: 0;
    padding: 0;
  
}
body{
    font-family: sans-serif;
}
.header_section{
    background: #fff;
    padding: 80px;
    height: 350px;
}
.header_section .header_left{
    float: left;
    width: 45%;
    margin-top: 50px;
}
.header_left span{
    color:rgb(219, 84, 90);
    display: inline-block;
    font-size: 60px;
}
.header_left p{
    line-height: 25px;
    margin: 10px 0px;
}
.header_left h1{
    font-size: 40px;
}
.default_btn{
    display: inline-block;
    color: #fff;
    background: rgb(219, 84, 90);
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
}
.header_section .header_right{
    width: 45%;
    float:right;
    text-align: right;
}
.header_right img{
    width: 350px;
    border-radius: 50%;
}
/* part of breakfast */
.breakfast{
    background:#eeeeee;
    height: 370px;
    padding: 70px 0px;
}
.card{
    float: left;
    width: 20%;
    margin-left: 168px;
    background: #fff;
    padding: 20px;
    position: absolute;
    margin-top: 30px;
}
.breakfast .card h5{}
.breakfast .card p{
    line-height: 25px;
    letter-spacing: 1px;
}
.breakfast .card a{

    margin-left: 30px;
    margin-top: 20px;
}
.breakfast .img-part{
    float:right;
    width: 60%;
    margin-right: 50px;
}
.breakfast .img-part img{
    width: 700px;
    height: 395px;
}
/* par of fast food section */
.fastfood_section{
    background: url(./IMG/fastfood.jpg) no-repeat center;
    background-size: cover;
    padding: 50px 0px;
    color: #fff;

    height: 370px;
}
.fastfood_content {
    margin-left: 80px;
    margin-top: 135px;
  }
.fastfood_section p{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
}
.fastfood_section h1{
    font-size: 50px;
    margin: 15px 0px;
    font-size: 65px;
}
/* part of derivary man */
.delivary_img{
    width: 35%;
    float: left;
    margin-left: 150px;
}
.delivary_img img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    padding: 30px 0px;
}
.dalivary_man .card2{
    float:left;
    width: 20%;
    margin-left: 4px;
    background: #eee;
    padding: 35px;
    margin-top: 73px;
}
.dalivary_man .card2 a{
    margin-top: 10px;
}
.dalivary_man .card2 p{
    font-size: 16px;
    line-height: 25px;
}